/* ===== TABLET ===== */
@media (min-width: 640px) {

    .menu-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .gallery-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .logo {
        max-width: 230px;
    }
}

/* ===== DESKTOP ===== */
@media (min-width: 1024px) {

    main {
        max-width: 1100px;
    }

    .menu-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .gallery-grid {
        grid-template-columns: repeat(4, 1fr);
    }

    nav {
        gap: 35px;
    }

    .logo {
        max-width: 260px;
    }
}