/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Page Layout */
body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */
header {
    background-color: #333;
    color: white;
}

.header-content {
    padding: 1.5rem;
}

/* Navigation */
nav {
    background-color: #000;
}

.navigation {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 1rem;
}

.navigation a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Main Layout */
main {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

/* Main Content */
.main-content {
    background-color: #d9d9d9;
    padding: 1rem;
}

/* Aside */
.aside-content {
    background-color: #fff;
    padding: 1rem;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1.5rem;
}